<div class="row">
  <div class="col-sm-4">
    <h1>Log in</h1>

    <form role="form" {{action "loginUser" on="submit"}}>
      <div class="form-group">
        <label for="exName">Username or Email</label>
        {{input type="text" value=username_or_email id="exName"
          placeholder="Username or email" id="exName" class="form-control"}}
      </div>

      <div class="form-group">
        <label for="exPass">Password</label>
        {{input type="password" value=password id="exPass"
          placeholder="Password" id="exPass" class="form-control"}}
      </div>

       <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
